In [1]:
import pandas as pd

In [2]:
bikes_2015_df = pd.read_csv('./2015_09_bikes.csv')
bikes_2015_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,61,2015-09-21 14:53:16,2015-09-21 14:54:17,3185,City Hall,40.717732,-74.043845,3185,City Hall,40.717732,-74.043845,24722,Subscriber,1975.0,1
1,290,2015-09-21 14:55:59,2015-09-21 15:00:50,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,24388,Customer,NaN,0
2,786,2015-09-21 14:56:14,2015-09-21 15:09:21,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,24442,Subscriber,1962.0,1
3,477,2015-09-21 14:58:35,2015-09-21 15:06:32,3203,Hamilton Park,40.727596,-74.044247,3203,Hamilton Park,40.727596,-74.044247,24678,Subscriber,1977.0,2
4,451,2015-09-21 14:59:55,2015-09-21 15:07:27,3203,Hamilton Park,40.727596,-74.044247,3186,Grove St PATH,40.719586,-74.043117,24574,Subscriber,1977.0,2

In [3]:
bikes_2015_df.rename(columns={'User Type': 'member_casual'}, inplace=True)

In [4]:
bikes_2015_df['member_casual'] = bikes_2015_df['member_casual'].replace('Subscriber', 'member')
bikes_2015_df['member_casual'] = bikes_2015_df['member_casual'].replace('Customer', 'casual')

In [5]:
bikes_2015_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,member_casual,Birth Year,Gender
0,61,2015-09-21 14:53:16,2015-09-21 14:54:17,3185,City Hall,40.717732,-74.043845,3185,City Hall,40.717732,-74.043845,24722,member,1975.0,1
1,290,2015-09-21 14:55:59,2015-09-21 15:00:50,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,24388,casual,NaN,0
2,786,2015-09-21 14:56:14,2015-09-21 15:09:21,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,24442,member,1962.0,1
3,477,2015-09-21 14:58:35,2015-09-21 15:06:32,3203,Hamilton Park,40.727596,-74.044247,3203,Hamilton Park,40.727596,-74.044247,24678,member,1977.0,2
4,451,2015-09-21 14:59:55,2015-09-21 15:07:27,3203,Hamilton Park,40.727596,-74.044247,3186,Grove St PATH,40.719586,-74.043117,24574,member,1977.0,2

In [6]:
bikes_2015_df.to_csv('./bikes_2015_df.csv', index = False)

In [7]:
bikes_2024_df = pd.read_csv('bikes_2024.csv')
bikes_2024_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,17AE31FCAE74D287,electric_bike,2024-08-07 13:22:55.656,2024-08-07 13:25:09.654,7 St & Monroe St,HB304,4 St & Grand St,HB301,40.746413,-74.037977,40.742258,-74.035111,member
1,FD9859BDBE0CDF70,electric_bike,2024-08-13 13:15:08.627,2024-08-13 13:17:44.971,7 St & Monroe St,HB304,4 St & Grand St,HB301,40.746413,-74.037977,40.742258,-74.035111,member
2,AAC5ECD095AE5572,electric_bike,2024-08-12 20:07:26.975,2024-08-12 20:09:38.180,7 St & Monroe St,HB304,4 St & Grand St,HB301,40.746413,-74.037977,40.742258,-74.035111,member
3,857C4DCB2F29655B,electric_bike,2024-08-09 13:43:18.882,2024-08-09 13:45:38.226,7 St & Monroe St,HB304,4 St & Grand St,HB301,40.746413,-74.037977,40.742258,-74.035111,member
4,4439657C244E7009,classic_bike,2024-08-01 10:29:40.174,2024-08-01 10:32:56.874,Clinton St & Newark St,HB409,4 St & Grand St,HB301,40.737430,-74.035710,40.742258,-74.035111,member

In [8]:
# start stations 2024
start_station_counts = bikes_2024_df.groupby('start_station_name').size().sort_values(ascending = True)
start_station_counts.head(10)

start_station_name
Grant Ave & MLK Dr          38
Bergen Ave & Stegman St    163
Union St                   204
Jackson Square             205
Glenwood Ave               285
5 Corners Library          328
Dey St                     377
Astor Place                438
Communipaw & Berry Lane    466
Fairmount Ave              479
dtype: int64

In [9]:
# end stations 2024
end_station_counts = bikes_2024_df.groupby('end_station_name').size().sort_values(ascending = True)
end_station_counts.head(10)

end_station_name
1 Ave & E 16 St                1
Howard St & Lafayette St       1
W 45 St & 8 Ave                1
Church St & Worth St           1
W 52 St & 5 Ave                1
Hudson Blvd W & W 36 St        1
Carroll St & 5 Ave             1
Wythe Ave & N 13 St            1
Carmine St & 6 Ave             1
Cadman Plaza E & Tillary St    1
dtype: int64

In [46]:
# start stations 2015
start_stations_2015 = bikes_2015_df.groupby('Start Station Name').size().sort_values(ascending = False)
start_stations_2015.head(10)

Start Station Name
Grove St PATH       731
Exchange Place      538
Hamilton Park       530
Newport PATH        394
Sip Ave             387
Newport Pkwy        336
Newark Ave          335
City Hall           316
Essex Light Rail    301
Paulus Hook         299
dtype: int64

In [11]:
# end stations 2015
end_stations_2015 = bikes_2015_df.groupby('End Station Name').size().sort_values(ascending = True)
end_stations_2015.head(10)

End Station Name
9 Ave & W 45 St          1
FDR Drive & E 35 St      1
Columbia Park            6
Union St                12
MLK Light Rail          16
Bayside Park            17
West Side Light Rail    20
Garfield Ave Station    21
NJCU                    28
Central Ave             42
dtype: int64

In [12]:
# read in summer 2023
summer_2023_df = pd.read_csv('summer_2023_bikes.csv')
summer_2023_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,37BE5FCB1A385CDA,classic_bike,2023-06-27 16:06:27,2023-06-27 16:10:27,Hilltop,JC019,Christ Hospital,JC034,40.731115,-74.057468,40.734786,-74.050444,casual
1,9C96B4C6CBBB31AD,classic_bike,2023-06-24 10:46:58,2023-06-24 10:55:27,Baldwin at Montgomery,JC020,Hamilton Park,JC009,40.723473,-74.064338,40.727596,-74.044247,member
2,C91293605D4BEC07,electric_bike,2023-06-04 20:30:13,2023-06-04 20:34:31,Hilltop,JC019,Brunswick St,JC023,40.731169,-74.057574,40.724176,-74.050656,member
3,2920063442116A46,classic_bike,2023-06-08 19:10:06,2023-06-08 19:13:05,Baldwin at Montgomery,JC020,Astor Place,JC077,40.723499,-74.064335,40.719282,-74.071262,member
4,E205FD8C18BA263A,classic_bike,2023-06-23 18:53:51,2023-06-23 19:17:50,Baldwin at Montgomery,JC020,Adams St & 11 St,HB507,40.723511,-74.064277,40.750916,-74.033541,member

In [13]:
# start stations 06/23
start_stations_summer = summer_2023_df.groupby('start_station_name').size().sort_values(ascending = True)
start_stations_summer.head(10)

start_station_name
1 Ave & E 62 St              1
Madison Ave & E 26 St        1
Madison Av & E 51 St         1
Lewis Ave & Kosciuszko St    1
John St & William St         1
Henry St & Grand St          1
Greenwich St & Perry St      1
E 97 St & 3 Ave              1
E 9 St & Avenue C            1
E 88 St & 1 Ave              1
dtype: int64

In [14]:
# end stations 06/23
end_stations_summer = summer_2023_df.groupby('end_station_name').size().sort_values(ascending = True)
end_stations_summer.head(10)

end_station_name
1 Ave & E 62 St               1
Grand Concourse & E 164 St    1
Gansevoort St & Hudson St     1
University Pl & E 8 St        1
E 97 St & 3 Ave               1
E 9 St & Avenue C             1
E 88 St & 1 Ave               1
E 85 St & 3 Ave               1
E 84 St & 1 Ave               1
E 82 St & East End Ave        1
dtype: int64

In [15]:
# read in winter 2023
winter_2023_df = pd.read_csv('winter_2023_bikes.csv')
winter_2023_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,DAE3C13A5FAAB089,classic_bike,2023-12-29 16:02:20,2023-12-29 16:10:17,Brunswick St,JC023,Communipaw & Berry Lane,JC084,40.724016,-74.050550,40.714358,-74.066611,member
1,1EC6BE46ACF2DE11,classic_bike,2023-12-06 01:58:32,2023-12-06 02:04:48,Brunswick St,JC023,Oakland Ave,JC022,40.724135,-74.050686,40.737604,-74.052478,casual
2,105CA439B9CBF57C,classic_bike,2023-12-06 20:15:11,2023-12-06 20:21:02,Brunswick St,JC023,Oakland Ave,JC022,40.723990,-74.050639,40.737604,-74.052478,member
3,DC1C46F6090FA1DB,classic_bike,2023-12-09 13:54:19,2023-12-09 13:56:48,Brunswick St,JC023,Manila & 1st,JC082,40.723983,-74.050732,40.721651,-74.042884,casual
4,04EAEAAD6D32A664,classic_bike,2023-12-02 17:30:34,2023-12-02 17:37:26,Brunswick St,JC023,Riverview Park,JC057,40.724011,-74.050686,40.744319,-74.043991,member

In [16]:
# start stations 12/23
start_stations_winter = winter_2023_df.groupby('start_station_name').size().sort_values(ascending = True)
start_stations_winter.head(10)

start_station_name
Greenwich Ave & Charles St          1
Beverley Rd & Nostrand Ave          1
Broadway & Berry St                 1
Broadway & W 56 St                  1
Greenwich St & Hubert St            1
Buffalo Ave & E New York Ave        1
Grand Army Plaza & Plaza St West    1
Fulton St & Adams St                1
E 53 St & Madison Ave               1
Clinton Ave & Myrtle Ave            1
dtype: int64

In [17]:
# end stations 12/23
end_stations_winter = winter_2023_df.groupby('end_station_name').size().sort_values(ascending = True)
end_stations_winter.head(10)

end_station_name
Grand Army Plaza & Plaza St West    1
North Moore St & Greenwich St       1
Clinton Ave & Myrtle Ave            1
Cleveland Pl & Spring St            1
Perry St & Bleecker St              1
Perry St & Greenwich Ave            1
Prospect Pl & Nostrand Ave          1
Columbus Ave & W 103 St             1
Christopher St & Greenwich St       1
Central Park S & 6 Ave              1
dtype: int64

In [18]:
null_counts = winter_2023_df[['start_lat', 'start_lng']].isnull().sum()
null_counts

start_lat    0
start_lng    0
dtype: int64

In [19]:
# read in summer 2024
summer_2024_df = pd.read_csv('summer_2024_bikes.csv')
summer_2024_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A17A516F45135535,classic_bike,2024-06-01 21:57:43.956,2024-06-01 22:02:11.705,4 St & Grand St,HB301,Columbus Park - Clinton St & 9 St,HB501,40.742258,-74.035111,40.748161,-74.032453,casual
1,93A3EB3388E2B8CB,classic_bike,2024-06-01 09:13:28.985,2024-06-01 09:16:14.918,Hoboken Ave at Monmouth St,JC105,Southwest Park - Jackson St & Observer Hwy,HB401,40.735208,-74.046964,40.737551,-74.041664,member
2,9F59020413047210,electric_bike,2024-06-14 14:50:09.636,2024-06-14 14:53:35.936,Hoboken Ave at Monmouth St,JC105,Southwest Park - Jackson St & Observer Hwy,HB401,40.735251,-74.046950,40.737551,-74.041664,casual
3,922CEA9885B1D83D,electric_bike,2024-06-25 19:09:47.671,2024-06-25 19:16:35.683,Hoboken Ave at Monmouth St,JC105,Columbus Park - Clinton St & 9 St,HB501,40.735274,-74.046932,40.748161,-74.032453,member
4,66D057A4C37F2018,electric_bike,2024-06-24 12:42:15.397,2024-06-24 12:49:56.861,Hilltop,JC019,Southwest Park - Jackson St & Observer Hwy,HB401,40.731163,-74.057490,40.737551,-74.041664,member

In [21]:
bikes_merged = pd.merge(summer_2024_df, winter_2023_df, on="ride_id", how = "outer")
bikes_merged

,ride_id,rideable_type_x,started_at_x,ended_at_x,start_station_name_x,start_station_id_x,end_station_name_x,end_station_id_x,start_lat_x,start_lng_x,...,ended_at_y,start_station_name_y,start_station_id_y,end_station_name_y,end_station_id_y,start_lat_y,start_lng_y,end_lat_y,end_lng_y,member_casual_y
0,0000C41576A61168,electric_bike,2024-06-15 10:46:20.785,2024-06-15 10:54:02.137,Newport Pkwy,JC008,Manila & 1st,JC082,40.728786,-74.032071,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,000167E485A92FB1,classic_bike,2024-06-02 17:22:52.541,2024-06-02 17:34:11.147,Willow Ave & 12 St,HB505,4 St & River St,HB611,40.751867,-74.030377,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00021C2F13C3D2EC,classic_bike,2024-06-02 18:25:42.584,2024-06-02 18:38:03.741,14 St Ferry - 14 St & Shipyard Ln,HB202,2 St & Park Ave,HB608,40.752961,-74.024353,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00022BD41FC3880C,electric_bike,2024-06-09 08:55:05.834,2024-06-09 09:04:45.568,Grand St,JC102,Newport Pkwy,JC008,40.715068,-74.037689,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,000260277EA958AE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2023-12-06 18:04:32,Hoboken Terminal - River St & Hudson Pl,HB102,4 St & Grand St,HB301,40.736416,-74.029119,40.742258,-74.035111,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169790,FFFEE7D8F6E1E385,classic_bike,2024-06-10 16:53:02.363,2024-06-10 16:56:18.258,Grove St PATH,JC115,JC Medical Center,JC110,40.719410,-74.043090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169791,FFFF31538120923C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2023-12-21 15:23:26,City Hall,JC003,Paulus Hook,JC002,40.717682,-74.043880,40.714145,-74.033552,member
169792,FFFF37ECB1BEBC3C,electric_bike,2024-06-26 21:51:16.945,2024-06-27 03:50:21.533,Astor Place,JC077,NaN,NaN,40.719282,-74.071257,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169793,FFFF70BD9D1F7086,classic_bike,2024-06-08 15:05:50.935,2024-06-08 15:14:45.170,Hoboken Ave at Monmouth St,JC105,River St & 1 St,HB609,40.735208,-74.046964,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169794,FFFFBA96529FFC27,electric_bike,2024-06-05 07:50:42.081,2024-06-05 08:03:40.365,City Hall,JC003,River St & 1 St,HB609,40.717674,-74.043918,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
summer_2024_df['started_at'] = pd.to_datetime(summer_2024_df['started_at'])

In [26]:
summer_2024_df['ended_at'] = pd.to_datetime(summer_2024_df['ended_at'])

In [29]:
times = summer_2024_df["ended_at"] - summer_2024_df["started_at"]

In [30]:
times.sort_values(ascending = False)

97310    1 days 00:59:56.471000
22453    1 days 00:59:56.459000
21893    1 days 00:59:56.033000
22439    1 days 00:59:55.974000
22721    1 days 00:59:55.942000
                  ...
21022    0 days 00:01:00.530000
60782    0 days 00:01:00.449000
107306   0 days 00:01:00.426000
39650    0 days 00:01:00.382000
39605    0 days 00:01:00.238000
Length: 111115, dtype: timedelta64[ns]

In [33]:
summer_2024_df = summer_2024_df.sort_values('end_station_name', ascending = True)

In [34]:
summer_2024_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
53246,343C63DC1E90FBF2,electric_bike,2024-06-03 09:00:55.886,2024-06-03 09:43:24.127,Jackson Square,JC063,1 Ave & E 16 St,5779.08,40.711131,-74.078933,40.732219,-73.981656,member
91769,AA308B71BE84A905,electric_bike,2024-06-20 08:28:26.385,2024-06-20 09:03:11.864,Oakland Ave,JC022,1 Ave & E 38 St,6230.02,40.737488,-74.052287,40.746202,-73.971822,member
87100,6C83DC2EA34DAE33,electric_bike,2024-06-20 16:21:02.620,2024-06-20 16:30:00.046,Broadway & E 21 St,6098.10,1 Ave & E 6 St,5626.15,40.715912,-74.044259,40.726331,-73.986169,member
108588,8095A822EC16E4D2,electric_bike,2024-06-04 21:12:37.100,2024-06-04 21:19:14.422,E 81 St & York Ave,7084.12,1 Ave & E 68 St,6822.09,40.690745,-74.093095,40.765005,-73.958185,member
98319,2DC5595DCEC75BEA,electric_bike,2024-06-05 17:11:52.983,2024-06-05 17:43:12.440,City Hall,JC003,1 Pl & Clinton St,4193.14,40.717623,-74.043842,40.680959,-73.999057,casual

In [38]:
just_end = summer_2024_df[["end_station_name", "end_lat", "end_lng"]]
just_end.head(20)

             end_station_name    end_lat    end_lng
53246         1 Ave & E 16 St  40.732219 -73.981656
91769         1 Ave & E 38 St  40.746202 -73.971822
87100          1 Ave & E 6 St  40.726331 -73.986169
108588        1 Ave & E 68 St  40.765005 -73.958185
98319       1 Pl & Clinton St  40.680959 -73.999057
95762        10 Ave & W 14 St  40.741982 -74.008316
90212        10 Ave & W 14 St  40.741982 -74.008316
63751        11 Ave & W 27 St  40.751396 -74.005226
34828   11 St & Washington St  40.749985 -74.027150
34829   11 St & Washington St  40.749985 -74.027150
41194   11 St & Washington St  40.749985 -74.027150
41195   11 St & Washington St  40.749985 -74.027150
34831   11 St & Washington St  40.749985 -74.027150
34833   11 St & Washington St  40.749985 -74.027150
34834   11 St & Washington St  40.749985 -74.027150
41216   11 St & Washington St  40.749985 -74.027150
49027   11 St & Washington St  40.749985 -74.027150
41214   11 St & Washington St  40.749985 -74.027150
49028   11 St & Washington St  40.749985 -74.027150
64841   11 St & Washington St  40.749985 -74.027150

In [40]:
# Create a dictionary to map station names to their correct coordinates from the end station columns
station_coords = summer_2024_df[['end_station_name', 'end_lat', 'end_lng']].drop_duplicates(subset='end_station_name').set_index('end_station_name').to_dict(orient='index')

# Function to update the start coordinates based on the correct end coordinates
def update_start_coords(row):
    station = row['start_station_name']
    if station in station_coords:
        row['start_lat'] = station_coords[station]['end_lat']
        row['start_lng'] = station_coords[station]['end_lng']
    return row

# Apply the function to the dataframe to update start coordinates
summer_2024_df = summer_2024_df.apply(update_start_coords, axis=1)

In [41]:
just_start = summer_2024_df[["start_station_name", "start_lat", "start_lng"]].sort_values("start_station_name", ascending = True)
just_start.head(50)

           start_station_name  start_lat  start_lng
52351          1 Ave & E 6 St  40.726331 -73.986169
46255         1 Ave & E 68 St  40.765005 -73.958185
108912       10 Ave & W 14 St  40.741982 -74.008316
71151        10 Ave & W 14 St  40.741982 -74.008316
36340        11 Ave & W 27 St  40.751396 -74.005226
27177        11 Ave & W 41 St  40.769789 -74.034566
49081   11 St & Washington St  40.749985 -74.027150
46082   11 St & Washington St  40.749985 -74.027150
68387   11 St & Washington St  40.749985 -74.027150
45542   11 St & Washington St  40.749985 -74.027150
49088   11 St & Washington St  40.749985 -74.027150
32772   11 St & Washington St  40.749985 -74.027150
78700   11 St & Washington St  40.749985 -74.027150
32749   11 St & Washington St  40.749985 -74.027150
35729   11 St & Washington St  40.749985 -74.027150
49171   11 St & Washington St  40.749985 -74.027150
49720   11 St & Washington St  40.749985 -74.027150
78696   11 St & Washington St  40.749985 -74.027150
45557   11 St & Washington St  40.749985 -74.027150
45554   11 St & Washington St  40.749985 -74.027150
78664   11 St & Washington St  40.749985 -74.027150
16714   11 St & Washington St  40.749985 -74.027150
49177   11 St & Washington St  40.749985 -74.027150
35726   11 St & Washington St  40.749985 -74.027150
49722   11 St & Washington St  40.749985 -74.027150
68911   11 St & Washington St  40.749985 -74.027150
21874   11 St & Washington St  40.749985 -74.027150
77249   11 St & Washington St  40.749985 -74.027150
42065   11 St & Washington St  40.749985 -74.027150
49871   11 St & Washington St  40.749985 -74.027150
49822   11 St & Washington St  40.749985 -74.027150
37798   11 St & Washington St  40.749985 -74.027150
78633   11 St & Washington St  40.749985 -74.027150
32853   11 St & Washington St  40.749985 -74.027150
37803   11 St & Washington St  40.749985 -74.027150
78631   11 St & Washington St  40.749985 -74.027150
42069   11 St & Washington St  40.749985 -74.027150
32799   11 St & Washington St  40.749985 -74.027150
78630   11 St & Washington St  40.749985 -74.027150
48618   11 St & Washington St  40.749985 -74.027150
49205   11 St & Washington St  40.749985 -74.027150
49202   11 St & Washington St  40.749985 -74.027150
49215   11 St & Washington St  40.749985 -74.027150
49719   11 St & Washington St  40.749985 -74.027150
77473   11 St & Washington St  40.749985 -74.027150
49711   11 St & Washington St  40.749985 -74.027150
32851   11 St & Washington St  40.749985 -74.027150
49715   11 St & Washington St  40.749985 -74.027150
49167   11 St & Washington St  40.749985 -74.027150
35730   11 St & Washington St  40.749985 -74.027150

In [42]:
summer_2024_df.to_csv('./summer_2024_bikes.csv', index = False)

In [43]:
# Create a dictionary to map station names to their correct coordinates from the end station columns
station_coords = winter_2023_df[['end_station_name', 'end_lat', 'end_lng']].drop_duplicates(subset='end_station_name').set_index('end_station_name').to_dict(orient='index')

# Function to update the start coordinates based on the correct end coordinates
def update_start_coords(row):
    station = row['start_station_name']
    if station in station_coords:
        row['start_lat'] = station_coords[station]['end_lat']
        row['start_lng'] = station_coords[station]['end_lng']
    return row

# Apply the function to the dataframe to update start coordinates
winter_2023_df = winter_2023_df.apply(update_start_coords, axis=1)

In [45]:
winter_2023_df.to_csv('./winter_2023_bikes.csv', index = False)